github-backup-.json
{
  "createdAt": "2025-06-26T02:25:23.102Z",
  "updatedAt": "2025-06-26T03:17:48.888Z",
  "id": "Sk7LnpTphqEV7DgS",
  "name": "Github-Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "a96db0fd-98c0-4a30-a503-48f3a6636c29",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -140,
        140
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "19eebfe8-2cb0-4593-b440-ab85e05d460d",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        340,
        140
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "kIpKA2QPx9yYPndg",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "8b3c1043-c9c9-4dcd-9ed1-ac9f54f31b3e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        180,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "joyannaugyfmg",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-template",
          "mode": "list",
          "cachedResultName": "n8n-template",
          "cachedResultUrl": "https://github.com/joyannaugyfmg/n8n-template"
        },
        "filePath": "="
      },
      "id": "5663c9b3-58ba-4108-8504-bac077d206a0",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        20,
        140
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "UyN8lBKXxbRw1Syv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "joyannaugyfmg",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-template",
          "mode": "list",
          "cachedResultName": "n8n-template",
          "cachedResultUrl": "https://github.com/joyannaugyfmg/n8n-template"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "6e5a9b48-74de-470c-8891-2cf2c9c71361",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1140,
        60
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "UyN8lBKXxbRw1Syv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "joyannaugyfmg",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-template",
          "mode": "list",
          "cachedResultName": "n8n-template",
          "cachedResultUrl": "https://github.com/joyannaugyfmg/n8n-template"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "b328b82f-e193-4a5d-934c-722b57786d47",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1140,
        220
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "UyN8lBKXxbRw1Syv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "be20236c-cc44-4ae8-ad47-db1ffd3a0eb6",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        980,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "04a792d3-197a-467c-b0e3-01eb2db5555e",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        500,
        140
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "f6aa1ec3-7de2-4fc9-b052-0e6660f56cdb",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        660,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "0e99fd4a-55bc-41fa-8033-6cdb5559bf80",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "b3703d6e-1406-4789-9966-6dc0ce5dc80b",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        820,
        140
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "67033d8a-93c3-499c-be04-29a31648b636",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "8df8b814-56ce-4e88-bbe0-12c5cdefecb3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "10bbf310-b12c-4cfc-8c51-d8051e8ccb57",
  "triggerCount": 1,
  "tags": []
}