my-workflow-.json
{
  "createdAt": "2025-06-25T10:10:20.796Z",
  "updatedAt": "2025-06-26T01:50:43.134Z",
  "id": "exAJu9PI0tyVUvDR",
  "name": "My workflow",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "x-ai/grok-3-mini",
          "mode": "list",
          "cachedResultName": "x-ai/grok-3-mini"
        },
        "options": {}
      },
      "id": "1f4eca81-288a-4855-bb15-4256004b2248",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -700,
        1280
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ZY93eSk0DaDCC2Ow",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "48b451c5-588f-4c6a-bc5b-d97be9e6207a",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -460,
        1280
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "e3ad967c-eefe-4426-8eca-c31316abba3d",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -880,
        1020
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are the **Binance 4-Hour Technical Indicator Agent**, tasked with calculating and returning **4-hour interval trading signals** for any Binance Spot Market symbol. Your outputs help assess swing trend continuation, volatility compression, and reversal pressure within the medium-term structure.\n\n---\n\n### 🔗 Connected Tools (via internal workflow)\n\nYou call the following indicators using `https://treasurium.app.n8n.cloud/webhook/4h-indicators`:\n\n* **RSI** (14-period)\n* **MACD** (12/26/9 config)\n* **Bollinger Bands** (20-period, 2×STD)\n* **SMA** (20-period)\n* **EMA** (20-period)\n* **ADX** (14-period with DI+ and DI−)\n\n---\n\n### 📥 Expected Input Format\n\n```json\n{\n  \"message\": \"BNBUSDT\",\n  \"sessionId\": \"telegram_chat_id\"\n}\n```\n\n* `message`: Binance Spot Market symbol (e.g., BNBUSDT, AVAXUSDT)\n* `sessionId`: Passed context used for continuity and formatting\n\n---\n\n### 📊 Behavior\n\n* Accepts symbol and sends POST request to:\n\n  ```\n  https://treasurium.app.n8n.cloud/webhook/4h-indicators\n  ```\n\n  with payload:\n\n  ```json\n  {\n    \"symbol\": \"BNBUSDT\"\n  }\n  ```\n\n* Pulls **at least 40 4h candles** from Binance\n\n* Calculates each indicator in parallel and returns unified output\n\n---\n\n### 🧠 Use Case Scenarios\n\n* Evaluate **trend momentum and strength** in the 1–2 day horizon\n* Validate **higher timeframe support/resistance** zones\n* Confirm **breakouts or trend continuation** against noise\n* Feed **Financial Analyst** and **Quant AI Agent** for confident, multi-frame synthesis\n\n---\n\n### ⚠️ Operational Notes\n\n* Validate input symbol (must be valid and uppercase)\n* Ensure enough candles are available to compute full indicator set\n* Timestamps should align across outputs for accurate merges\n* Return fallback message if Binance API throttling or empty klines\n\n"
        }
      },
      "id": "1d1f376b-d345-4ff7-918e-04dafa01adde",
      "name": "Binance SM 4hour Indicators Tool Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -480,
        1020
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.linkzz.hm/webhook/4h-indicators",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16ea651f-defa-4cb1-ba22-3cf2a0d97c05",
      "name": "HTTP Request 4h Indicators Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        -220,
        1260
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Workflow Trigger\nNode: When Executed by Another Workflow\nThis workflow does not start on its own — it is always triggered by:\n\n**Binance SM Financial Analyst Tool**\n\n**Binance Quant AI Agent**",
        "height": 440,
        "color": 4
      },
      "id": "67d33938-44d7-41e1-9486-44f81876d59a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -940,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## System Reasoning Agent\nNode: **Binance SM 4hour Indicators Tool Agent**\n\nSystem prompt defines this as a **swing trend analyzer**.\nIt interprets indicator outputs and transforms them into labeled sentiment for the 4h window.",
        "height": 340,
        "width": 500,
        "color": 5
      },
      "id": "62577c38-2aaa-46de-aebc-78b1f6b1e5f1",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -600,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n##  OpenAI Chat Model\nNode: OpenAI Chat Model **(gpt-4.1-mini)**\n\nInterprets indicator values and returns Telegram-friendly summaries:\n\n\n•** RSI: 65 → Slightly overbought  \n• MACD: Bullish cross  \n• BB: Expanding volatility  \n• EMA > SMA → Uptrend  \n• ADX: 31 → Trend **strengthening",
        "height": 600,
        "width": 220
      },
      "id": "86214488-0786-40c2-a9f1-5d37f074eff8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -760,
        1240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Context Memory\nNode: Simple Memory\nStores session variables like symbol and prior state.\n\nUseful for:\n\n**Inter-agent coordination\n\nSymbol recall\n\nMulti-turn interaction state tracking**",
        "height": 520,
        "width": 220,
        "color": 3
      },
      "id": "d71f92dd-e804-4792-9a68-27d565acc980",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        1240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Webhook Request (Core Tool)\nNode: HTTP Request 4h Indicators Tool\n\n**POSTs to:**\n\nhttps://treasurium.app.n8n.cloud/webhook/4h-indicators\n\nPayload:\n\njson\n{ \"symbol\": \"BNBUSDT\" }\n\nThis backend:\n\n**Pulls 40 candles of 4h OHLCV from Binance**\n\nCalculates:\n\n**RSI (14)\n\nMACD (12,26,9)\n\nBollinger Bands (20/2)\n\nSMA (20)\n\nEMA (20)\n\nADX (14, +DI, −DI)**\n\nReturns a clean JSON object with all indicators and signal summaries.\n\n",
        "height": 1000,
        "width": 220,
        "color": 6
      },
      "id": "07f54e7c-94ed-4cf2-af9c-e9e14634214a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        1240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# ⏳ Binance SM 4hour Indicators Tool – Documentation\n\nA medium-term trend analyzer for the Binance Spot Market. This tool calculates and interprets key trading indicators using 4-hour candle data to help validate breakout setups, momentum continuation, and trend strength.\n\n---\n\n## 🎯 Purpose\n\n* Pulls the latest 40×4h OHLCV candles for a symbol from Binance\n* Calculates core technical indicators for swing-trade insights:\n\n  * RSI, MACD, Bollinger Bands, SMA, EMA, ADX\n* Returns structured Telegram-ready signals interpreted via GPT\n* Supports the **Quant AI Agent** and **Financial Analyst Tool** for higher-timeframe confirmations\n\n---\n\n## ⚙️ Workflow Components\n\n| Node                                | Role                                                            |\n| ----------------------------------- | --------------------------------------------------------------- |\n| `When Executed by Another Workflow` | Triggered by parent workflows                                   |\n| `Binance SM 4hour Indicators Agent` | Core reasoning agent (routes inputs, interprets outputs)        |\n| `HTTP Request 4h Indicators Tool`   | Sends POST to `/webhook/4h-indicators` for raw indicator values |\n| `OpenAI Chat Model (gpt-4.1-mini)`  | Transforms raw values into labeled, human-readable analysis     |\n| `Simple Memory`                     | Tracks user symbol and session for contextual coordination      |\n\n---\n\n## 📥 Input Format\n\n```json\n{\n  \"message\": \"AVAXUSDT\",\n  \"sessionId\": \"telegram_chat_id\"\n}\n```\n\n* `message`: Any valid Binance trading pair (uppercase required)\n* `sessionId`: Used to persist Telegram or session-based memory\n\n---\n\n## 🔧 Indicator Calculation Details\n\n**Webhook Called:**\n\n```\nhttps://treasurium.app.n8n.cloud/webhook/4h-indicators\n```\n\n**POST Payload:**\n\n```json\n{\n  \"symbol\": \"AVAXUSDT\"\n}\n```\n\n**Calculated Indicators:**\n\n| Name           | Description                                        |\n| -------------- | -------------------------------------------------- |\n| RSI (14)       | Overbought / oversold indicator                    |\n| MACD (12,26,9) | Momentum trend strength / crossover signals        |\n| BBANDS (20,2)  | Volatility compression and breakout identification |\n| SMA (20)       | Medium-term baseline                               |\n| EMA (20)       | Reactivity to momentum                             |\n| ADX (14)       | Trend strength + DI+/DI− comparison                |\n\n---\n\n## 🧠 GPT Analysis Output\n\nThe GPT node interprets each indicator and formats results for user consumption:\n\n**Example Output:**\n\n```\n🕓 4h Technical Signals – AVAXUSDT\n\n• RSI: 64 → Slightly Bullish  \n• MACD: Bullish Cross above baseline  \n• BB: Upper band touch – volatility expanding  \n• EMA > SMA → Confirmed Upside Momentum  \n• ADX: 31 → Strengthening Trend\n```\n\n---\n\n## 📚 Use Case Scenarios\n\n| Use Case                                        | Result                                                           |\n| ----------------------------------------------- | ---------------------------------------------------------------- |\n| Evaluating macro-swing trend                    | Confirms breakout setups or continuation risk                    |\n| Filtering false breakouts on 1h                 | ADX, MACD trend detection help anchor confidence                 |\n| Multi-frame confluence inside Financial Analyst | Used in tandem with 1h + 1d indicators for trade signal stacking |\n\n---\n\n## 🛠️ Installation Steps\n\n1. **Import** this JSON into your n8n workspace.\n2. **Connect GPT API** to the OpenAI Chat Model node.\n3. **Ensure webhook** `/webhook/4h-indicators` is active and receives valid symbols.\n4. **Parent workflows** that may trigger this:\n\n   * Binance SM Financial Analyst Tool\n   * Binance Spot Market Quant AI Agent\n\n---\n\n## 🧾 Output Format (Telegram)\n\n* Emoji-labeled\n* Bullet-point structure\n* Timeframe noted explicitly\n* No raw JSON exposed\n\n---\n\n## 🔐 Licensing & Support\n\n🔗 **Don Jayamaha – LinkedIn**\n[http://linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n© 2025 Treasurium Capital Limited Company. All rights reserved.\nThe logic, structure, and orchestration of this tool are proprietary and protected under U.S. copyright and international IP law. Redistribution or resale without license is prohibited.",
        "height": 2760,
        "width": 1280
      },
      "id": "4fbd34c7-8812-44ca-bf93-7c08a60f317d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        -240
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Binance SM 4hour Indicators Tool Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Binance SM 4hour Indicators Tool Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request 4h Indicators Tool": {
      "ai_tool": [
        [
          {
            "node": "Binance SM 4hour Indicators Tool Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Binance SM 4hour Indicators Tool Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "23673556-ef44-4f68-8402-e7711b4db5c0",
  "triggerCount": 0,
  "tags": []
}